In [2]:

print("üöÄ Starting Data Exploration...")
print("=" * 60)

# Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

# Settings
warnings.filterwarnings('ignore')
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 100)
plt.style.use('seaborn-v0_8-darkgrid')

print("‚úÖ Libraries imported successfully!")
print("=" * 60)

üöÄ Starting Data Exploration...
============================================================
‚úÖ Libraries imported successfully!
============================================================

In [4]:
# ============================================================
# STEP 2: LOAD RAW DATA
# ============================================================

print("\nüìÇ Loading Dataset...")
print("=" * 60)

# Load the CSV file
df = pd.read_csv('../data/raw/data.csv', encoding='latin-1')

print(f"‚úÖ Dataset loaded successfully!")
print(f"   - Total Rows: {len(df):,}")
print(f"   - Total Columns: {len(df.columns)}")
print("=" * 60)

# Display first few rows
print("\nüìä FIRST 5 ROWS OF DATA:")
print("-" * 60)
df.head()

üìÇ Loading Dataset...
============================================================
‚úÖ Dataset loaded successfully!
   - Total Rows: 541,909
   - Total Columns: 8
============================================================

üìä FIRST 5 ROWS OF DATA:
------------------------------------------------------------

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [5]:
# ============================================================
# STEP 3: DATASET OVERVIEW
# ============================================================

print("\nüìã COLUMN INFORMATION:")
print("=" * 60)
df.info()

üìã COLUMN INFORMATION:
============================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

In [6]:
# ============================================================
# STEP 4: BASIC STATISTICS
# ============================================================

print("\nüìà STATISTICAL SUMMARY:")
print("=" * 60)
df.describe()

üìà STATISTICAL SUMMARY:
============================================================

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

In [8]:
# ============================================================
# STEP 5: CHECK COLUMN NAMES
# ============================================================

print("\nüîç ALL COLUMN NAMES:")
print("=" * 60)
for i, col in enumerate(df.columns, 1):
    print(f"{i}. {col}")
print("=" * 60)

print("\nüìä DATASET SHAPE:")
print(f"Rows: {df.shape[0]:,}")
print(f"Columns: {df.shape[1]}")

üîç ALL COLUMN NAMES:
============================================================
1. InvoiceNo
2. StockCode
3. Description
4. Quantity
5. InvoiceDate
6. UnitPrice
7. CustomerID
8. Country
============================================================

üìä DATASET SHAPE:
Rows: 541,909
Columns: 8

In [9]:
# ============================================================
# STEP 6: DATA QUALITY ASSESSMENT
# ============================================================

print("\nüîç DATA QUALITY CHECK")
print("=" * 60)

# 1. Missing Values
print("\n1Ô∏è‚É£ MISSING VALUES:")
print("-" * 60)
missing = df.isnull().sum()
missing_pct = (df.isnull().sum() / len(df)) * 100

missing_df = pd.DataFrame({
    'Column': missing.index,
    'Missing Count': missing.values,
    'Missing %': missing_pct.values
})
missing_df = missing_df[missing_df['Missing Count'] > 0].sort_values('Missing Count', ascending=False)

if len(missing_df) > 0:
    print(missing_df.to_string(index=False))
else:
    print("‚úÖ No missing values found!")

# 2. Duplicate Rows
print("\n2Ô∏è‚É£ DUPLICATE ROWS:")
print("-" * 60)
duplicates = df.duplicated().sum()
print(f"Total Duplicates: {duplicates:,} ({(duplicates/len(df)*100):.2f}%)")

# 3. Data Types
print("\n3Ô∏è‚É£ DATA TYPES:")
print("-" * 60)
print(df.dtypes)

# 4. Unique Values per Column
print("\n4Ô∏è‚É£ UNIQUE VALUES:")
print("-" * 60)
for col in df.columns:
    unique_count = df[col].nunique()
    print(f"{col:20s}: {unique_count:,} unique values")

print("\n" + "=" * 60)

üîç DATA QUALITY CHECK
============================================================

1Ô∏è‚É£ MISSING VALUES:
------------------------------------------------------------
     Column  Missing Count  Missing %
 CustomerID         135080  24.926694
Description           1454   0.268311

2Ô∏è‚É£ DUPLICATE ROWS:
------------------------------------------------------------
Total Duplicates: 5,268 (0.97%)

3Ô∏è‚É£ DATA TYPES:
------------------------------------------------------------
InvoiceNo       object
StockCode       object
Description     object
Quantity         int64
InvoiceDate     object
UnitPrice      float64
CustomerID     float64
Country         object
dtype: object

4Ô∏è‚É£ UNIQUE VALUES:
------------------------------------------------------------
InvoiceNo           : 25,900 unique values
StockCode           : 4,070 unique values
Description         : 4,223 unique values
Quantity            : 722 unique values
InvoiceDate         : 23,260 unique values
UnitPrice           : 1,630 unique values
CustomerID          : 4,372 unique values
Country             : 38 unique values

============================================================

In [10]:
# ============================================================
# STEP 7: CHECK FOR DATA ANOMALIES
# ============================================================

print("\n‚ö†Ô∏è  CHECKING FOR ANOMALIES")
print("=" * 60)

# 1. Negative Quantities
if 'Quantity' in df.columns:
    negative_qty = (df['Quantity'] < 0).sum()
    print(f"\n1Ô∏è‚É£ Negative Quantities: {negative_qty:,} rows")
    if negative_qty > 0:
        print(f"   ‚Üí These might be returns/cancellations")

# 2. Zero or Negative Prices
if 'UnitPrice' in df.columns:
    zero_price = (df['UnitPrice'] <= 0).sum()
    print(f"\n2Ô∏è‚É£ Zero/Negative Prices: {zero_price:,} rows")
    if zero_price > 0:
        print(f"   ‚Üí These are invalid and should be removed")

# 3. Missing Customer IDs
if 'CustomerID' in df.columns:
    missing_customers = df['CustomerID'].isnull().sum()
    print(f"\n3Ô∏è‚É£ Missing Customer IDs: {missing_customers:,} rows")
    if missing_customers > 0:
        print(f"   ‚Üí {(missing_customers/len(df)*100):.2f}% of transactions")

# 4. Missing Descriptions
if 'Description' in df.columns:
    missing_desc = df['Description'].isnull().sum()
    print(f"\n4Ô∏è‚É£ Missing Descriptions: {missing_desc:,} rows")

# 5. Date Range
if 'InvoiceDate' in df.columns:
    print(f"\n5Ô∏è‚É£ Date Range:")
    print(f"   From: {df['InvoiceDate'].min()}")
    print(f"   To:   {df['InvoiceDate'].max()}")

print("\n" + "=" * 60)

‚ö†Ô∏è  CHECKING FOR ANOMALIES
============================================================

1Ô∏è‚É£ Negative Quantities: 10,624 rows
   ‚Üí These might be returns/cancellations

2Ô∏è‚É£ Zero/Negative Prices: 2,517 rows
   ‚Üí These are invalid and should be removed

3Ô∏è‚É£ Missing Customer IDs: 135,080 rows
   ‚Üí 24.93% of transactions

4Ô∏è‚É£ Missing Descriptions: 1,454 rows

5Ô∏è‚É£ Date Range:
   From: 1/10/2011 10:04
   To:   9/9/2011 9:52

============================================================

In [11]:
# ============================================================
# STEP 8: SAMPLE OF PROBLEMATIC DATA
# ============================================================

print("\nüìã EXAMPLES OF DATA ISSUES")
print("=" * 60)

# Show rows with missing CustomerID
if 'CustomerID' in df.columns:
    print("\n1Ô∏è‚É£ Sample rows with Missing CustomerID:")
    print("-" * 60)
    print(df[df['CustomerID'].isnull()].head(3))

# Show rows with negative quantity
if 'Quantity' in df.columns:
    negative_rows = df[df['Quantity'] < 0]
    if len(negative_rows) > 0:
        print("\n2Ô∏è‚É£ Sample rows with Negative Quantity (Returns):")
        print("-" * 60)
        print(negative_rows.head(3))

# Show rows with zero price
if 'UnitPrice' in df.columns:
    zero_price_rows = df[df['UnitPrice'] <= 0]
    if len(zero_price_rows) > 0:
        print("\n3Ô∏è‚É£ Sample rows with Zero/Negative Price:")
        print("-" * 60)
        print(zero_price_rows.head(3))

print("\n" + "=" * 60)

üìã EXAMPLES OF DATA ISSUES
============================================================

1Ô∏è‚É£ Sample rows with Missing CustomerID:
------------------------------------------------------------
     InvoiceNo StockCode                      Description  Quantity  \
622     536414     22139                              NaN        56
1443    536544     21773  DECORATIVE ROSE BATHROOM BOTTLE         1
1444    536544     21774  DECORATIVE CATS BATHROOM BOTTLE         2

          InvoiceDate  UnitPrice  CustomerID         Country
622   12/1/2010 11:52       0.00         NaN  United Kingdom
1443  12/1/2010 14:32       2.51         NaN  United Kingdom
1444  12/1/2010 14:32       2.51         NaN  United Kingdom

2Ô∏è‚É£ Sample rows with Negative Quantity (Returns):
------------------------------------------------------------
    InvoiceNo StockCode                      Description  Quantity  \
141   C536379         D                         Discount        -1
154   C536383    35004C  SET OF 3 COLOURED  FLYING DUCKS        -1
235   C536391     22556   PLASTERS IN TIN CIRCUS PARADE        -12

         InvoiceDate  UnitPrice  CustomerID         Country
141   12/1/2010 9:41      27.50     14527.0  United Kingdom
154   12/1/2010 9:49       4.65     15311.0  United Kingdom
235  12/1/2010 10:24       1.65     17548.0  United Kingdom

3Ô∏è‚É£ Sample rows with Zero/Negative Price:
------------------------------------------------------------
     InvoiceNo StockCode Description  Quantity      InvoiceDate  UnitPrice  \
622     536414     22139         NaN        56  12/1/2010 11:52        0.0
1970    536545     21134         NaN         1  12/1/2010 14:32        0.0
1971    536546     22145         NaN         1  12/1/2010 14:33        0.0

      CustomerID         Country
622          NaN  United Kingdom
1970         NaN  United Kingdom
1971         NaN  United Kingdom

============================================================

In [12]:
# ============================================================
# STEP 9: DATA CLEANING PIPELINE
# ============================================================

print("\nüßπ STARTING DATA CLEANING")
print("=" * 60)

# Create a copy to preserve original data
df_clean = df.copy()

print(f"Original dataset: {len(df_clean):,} rows")

# CLEANING STEP 1: Remove rows with missing CustomerID
print("\n1Ô∏è‚É£ Removing rows with missing CustomerID...")
before = len(df_clean)
df_clean = df_clean[df_clean['CustomerID'].notna()]
after = len(df_clean)
print(f"   Removed: {before - after:,} rows")
print(f"   Remaining: {after:,} rows")

# CLEANING STEP 2: Remove duplicate rows
print("\n2Ô∏è‚É£ Removing duplicate rows...")
before = len(df_clean)
df_clean = df_clean.drop_duplicates()
after = len(df_clean)
print(f"   Removed: {before - after:,} rows")
print(f"   Remaining: {after:,} rows")

# CLEANING STEP 3: Remove rows with missing Description
print("\n3Ô∏è‚É£ Removing rows with missing Description...")
before = len(df_clean)
df_clean = df_clean[df_clean['Description'].notna()]
after = len(df_clean)
print(f"   Removed: {before - after:,} rows")
print(f"   Remaining: {after:,} rows")

# CLEANING STEP 4: Remove rows with zero or negative prices
print("\n4Ô∏è‚É£ Removing rows with zero/negative prices...")
before = len(df_clean)
df_clean = df_clean[df_clean['UnitPrice'] > 0]
after = len(df_clean)
print(f"   Removed: {before - after:,} rows")
print(f"   Remaining: {after:,} rows")

# CLEANING STEP 5: Remove rows with zero quantity (keep negatives for now - they're returns)
print("\n5Ô∏è‚É£ Removing rows with zero quantity...")
before = len(df_clean)
df_clean = df_clean[df_clean['Quantity'] != 0]
after = len(df_clean)
print(f"   Removed: {before - after:,} rows")
print(f"   Remaining: {after:,} rows")

print("\n" + "=" * 60)
print(f"‚úÖ CLEANING COMPLETE!")
print(f"   Final dataset: {len(df_clean):,} rows")
print(f"   Data retained: {(len(df_clean)/len(df)*100):.2f}%")
print("=" * 60)

üßπ STARTING DATA CLEANING
============================================================
Original dataset: 541,909 rows

1Ô∏è‚É£ Removing rows with missing CustomerID...
   Removed: 135,080 rows
   Remaining: 406,829 rows

2Ô∏è‚É£ Removing duplicate rows...
   Removed: 5,225 rows
   Remaining: 401,604 rows

3Ô∏è‚É£ Removing rows with missing Description...
   Removed: 0 rows
   Remaining: 401,604 rows

4Ô∏è‚É£ Removing rows with zero/negative prices...
   Removed: 40 rows
   Remaining: 401,564 rows

5Ô∏è‚É£ Removing rows with zero quantity...
   Removed: 0 rows
   Remaining: 401,564 rows

============================================================
‚úÖ CLEANING COMPLETE!
   Final dataset: 401,564 rows
   Data retained: 74.10%
============================================================

In [13]:
# ============================================================
# STEP 10: DATA TYPE CONVERSIONS & NEW COLUMNS
# ============================================================

print("\nüîß DATA TRANSFORMATIONS")
print("=" * 60)

# 1. Convert InvoiceDate to datetime
print("\n1Ô∏è‚É£ Converting InvoiceDate to datetime...")
df_clean['InvoiceDate'] = pd.to_datetime(df_clean['InvoiceDate'])
print("   ‚úÖ Done")

# 2. Create new calculated columns
print("\n2Ô∏è‚É£ Creating new columns...")

# Total Amount (Quantity √ó UnitPrice)
df_clean['TotalAmount'] = df_clean['Quantity'] * df_clean['UnitPrice']
print("   ‚úÖ TotalAmount created")

# Extract date components
df_clean['Year'] = df_clean['InvoiceDate'].dt.year
df_clean['Month'] = df_clean['InvoiceDate'].dt.month
df_clean['Day'] = df_clean['InvoiceDate'].dt.day
df_clean['DayOfWeek'] = df_clean['InvoiceDate'].dt.dayofweek
df_clean['Hour'] = df_clean['InvoiceDate'].dt.hour
print("   ‚úÖ Date components extracted (Year, Month, Day, DayOfWeek, Hour)")

# Day name
df_clean['DayName'] = df_clean['InvoiceDate'].dt.day_name()
print("   ‚úÖ DayName created")

# Month name
df_clean['MonthName'] = df_clean['InvoiceDate'].dt.month_name()
print("   ‚úÖ MonthName created")

# 3. Convert CustomerID to integer
print("\n3Ô∏è‚É£ Converting CustomerID to integer...")
df_clean['CustomerID'] = df_clean['CustomerID'].astype(int)
print("   ‚úÖ Done")

# 4. Clean InvoiceNo (remove spaces)
print("\n4Ô∏è‚É£ Cleaning InvoiceNo...")
df_clean['InvoiceNo'] = df_clean['InvoiceNo'].astype(str).str.strip()
print("   ‚úÖ Done")

# 5. Clean Description (remove extra spaces, convert to title case)
print("\n5Ô∏è‚É£ Cleaning Description...")
df_clean['Description'] = df_clean['Description'].str.strip().str.title()
print("   ‚úÖ Done")

print("\n" + "=" * 60)
print("‚úÖ TRANSFORMATIONS COMPLETE!")
print("=" * 60)

# Show new columns
print("\nüìä NEW DATASET STRUCTURE:")
print(df_clean.info())

üîß DATA TRANSFORMATIONS
============================================================

1Ô∏è‚É£ Converting InvoiceDate to datetime...
   ‚úÖ Done

2Ô∏è‚É£ Creating new columns...
   ‚úÖ TotalAmount created
   ‚úÖ Date components extracted (Year, Month, Day, DayOfWeek, Hour)
   ‚úÖ DayName created
   ‚úÖ MonthName created

3Ô∏è‚É£ Converting CustomerID to integer...
   ‚úÖ Done

4Ô∏è‚É£ Cleaning InvoiceNo...
   ‚úÖ Done

5Ô∏è‚É£ Cleaning Description...
   ‚úÖ Done

============================================================
‚úÖ TRANSFORMATIONS COMPLETE!
============================================================

üìä NEW DATASET STRUCTURE:
<class 'pandas.core.frame.DataFrame'>
Index: 401564 entries, 0 to 541908
Data columns (total 16 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    401564 non-null  object
 1   StockCode    401564 non-null  object
 2   Description  401564 non-null  object
 3   Quantity     401564 non-null  int64
 4   InvoiceDate  401564 non-null  datetime64[ns]
 5   UnitPrice    401564 non-null  float64
 6   CustomerID   401564 non-null  int64
 7   Country      401564 non-null  object
 8   TotalAmount  401564 non-null  float64
 9   Year         401564 non-null  int32
 10  Month        401564 non-null  int32
 11  Day          401564 non-null  int32
 12  DayOfWeek    401564 non-null  int32
 13  Hour         401564 non-null  int32
 14  DayName      401564 non-null  object
 15  MonthName    401564 non-null  object
dtypes: datetime64[ns](1), float64(2), int32(5), int64(2), object(6)
memory usage: 44.4+ MB
None

In [14]:
# ============================================================
# STEP 11: VERIFY CLEANED DATA
# ============================================================

print("\n‚úÖ CLEANED DATA VERIFICATION")
print("=" * 60)

# Check for missing values
print("\n1Ô∏è‚É£ Missing Values Check:")
missing_check = df_clean.isnull().sum()
if missing_check.sum() == 0:
    print("   ‚úÖ No missing values!")
else:
    print(missing_check[missing_check > 0])

# Check data types
print("\n2Ô∏è‚É£ Data Types:")
print(df_clean.dtypes)

# Show sample of cleaned data
print("\n3Ô∏è‚É£ Sample of Cleaned Data:")
print("-" * 60)
print(df_clean.head())

# Show statistics
print("\n4Ô∏è‚É£ Statistics on Key Columns:")
print("-" * 60)
print(df_clean[['Quantity', 'UnitPrice', 'TotalAmount']].describe())

print("\n" + "=" * 60)

‚úÖ CLEANED DATA VERIFICATION
============================================================

1Ô∏è‚É£ Missing Values Check:
   ‚úÖ No missing values!

2Ô∏è‚É£ Data Types:
InvoiceNo              object
StockCode              object
Description            object
Quantity                int64
InvoiceDate    datetime64[ns]
UnitPrice             float64
CustomerID              int64
Country                object
TotalAmount           float64
Year                    int32
Month                   int32
Day                     int32
DayOfWeek               int32
Hour                    int32
DayName                object
MonthName              object
dtype: object

3Ô∏è‚É£ Sample of Cleaned Data:
------------------------------------------------------------
  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   White Hanging Heart T-Light Holder         6
1    536365     71053                  White Metal Lantern         6
2    536365    84406B       Cream Cupid Hearts Coat Hanger         8
3    536365    84029G  Knitted Union Flag Hot Water Bottle         6
4    536365    84029E       Red Woolly Hottie White Heart.         6

          InvoiceDate  UnitPrice  CustomerID         Country  TotalAmount  \
0 2010-12-01 08:26:00       2.55       17850  United Kingdom        15.30
1 2010-12-01 08:26:00       3.39       17850  United Kingdom        20.34
2 2010-12-01 08:26:00       2.75       17850  United Kingdom        22.00
3 2010-12-01 08:26:00       3.39       17850  United Kingdom        20.34
4 2010-12-01 08:26:00       3.39       17850  United Kingdom        20.34

   Year  Month  Day  DayOfWeek  Hour    DayName MonthName
0  2010     12    1          2     8  Wednesday  December
1  2010     12    1          2     8  Wednesday  December
2  2010     12    1          2     8  Wednesday  December
3  2010     12    1          2     8  Wednesday  December
4  2010     12    1          2     8  Wednesday  December

4Ô∏è‚É£ Statistics on Key Columns:
------------------------------------------------------------
            Quantity      UnitPrice    TotalAmount
count  401564.000000  401564.000000  401564.000000
mean       12.149911       3.474410      20.615691
std       249.512649      69.767501     430.373603
min    -80995.000000       0.001000 -168469.600000
25%         2.000000       1.250000       4.250000
50%         5.000000       1.950000      11.700000
75%        12.000000       3.750000      19.800000
max     80995.000000   38970.000000  168469.600000

============================================================

In [15]:
# ============================================================
# STEP 12: SAVE CLEANED DATA
# ============================================================

print("\nüíæ SAVING CLEANED DATA")
print("=" * 60)

# Save to CSV
output_path = '../data/processed/ecommerce_data_cleaned.csv'
df_clean.to_csv(output_path, index=False)

print(f"‚úÖ Cleaned data saved to: {output_path}")
print(f"   Rows: {len(df_clean):,}")
print(f"   Columns: {len(df_clean.columns)}")

print("\nüìã Column List:")
for i, col in enumerate(df_clean.columns, 1):
    print(f"   {i:2d}. {col}")

print("\n" + "=" * 60)
print("üéâ DATA CLEANING COMPLETE!")
print("=" * 60)

üíæ SAVING CLEANED DATA
============================================================
‚úÖ Cleaned data saved to: ../data/processed/ecommerce_data_cleaned.csv
   Rows: 401,564
   Columns: 16

üìã Column List:
    1. InvoiceNo
    2. StockCode
    3. Description
    4. Quantity
    5. InvoiceDate
    6. UnitPrice
    7. CustomerID
    8. Country
    9. TotalAmount
   10. Year
   11. Month
   12. Day
   13. DayOfWeek
   14. Hour
   15. DayName
   16. MonthName

============================================================
üéâ DATA CLEANING COMPLETE!
============================================================

In [17]:
# ============================================================
# STEP 13: TRANSFORM DATA FOR DATABASE TABLES
# ============================================================

print("\nüîÑ TRANSFORMING DATA FOR DATABASE")
print("=" * 60)

# ============================================================
# TABLE 1: CUSTOMERS
# ============================================================

print("\n1Ô∏è‚É£ Creating CUSTOMERS table...")

customers = df_clean[['CustomerID', 'Country']].drop_duplicates()

# Get first purchase date for each customer
first_purchase = df_clean.groupby('CustomerID')['InvoiceDate'].min().reset_index()
first_purchase.columns = ['CustomerID', 'signup_date']

# Merge
customers = customers.merge(first_purchase, on='CustomerID')

# Add customer name (we'll generate placeholder names)
customers['customer_name'] = 'Customer_' + customers['CustomerID'].astype(str)

# Add email (placeholder)
customers['email'] = 'customer_' + customers['CustomerID'].astype(str) + '@email.com'

# Add region based on country (simple mapping)
def get_region(country):
    europe = ['United Kingdom', 'Germany', 'France', 'Spain', 'Netherlands', 
              'Belgium', 'Switzerland', 'Portugal', 'Italy', 'Norway', 
              'Finland', 'Denmark', 'Sweden', 'Austria', 'Poland', 'Ireland']
    if country in europe:
        return 'Europe'
    elif country in ['United States', 'Canada']:
        return 'North America'
    elif country in ['Australia']:
        return 'Oceania'
    elif country in ['Japan', 'Singapore', 'Hong Kong']:
        return 'Asia'
    else:
        return 'Other'

customers['region'] = customers['Country'].apply(get_region)

# Add customer segment (based on total purchase value - we'll calculate this)
customer_totals = df_clean.groupby('CustomerID')['TotalAmount'].sum().reset_index()
customer_totals.columns = ['CustomerID', 'total_spent']

# Define segments based on spending
def get_segment(amount):
    if amount >= 10000:
        return 'Premium'
    elif amount >= 5000:
        return 'Gold'
    elif amount >= 1000:
        return 'Silver'
    else:
        return 'Bronze'

customer_totals['customer_segment'] = customer_totals['total_spent'].apply(get_segment)

# Merge segment
customers = customers.merge(customer_totals[['CustomerID', 'customer_segment']], on='CustomerID')

# Reorder columns
customers = customers[['CustomerID', 'customer_name', 'email', 'region', 
                       'Country', 'signup_date', 'customer_segment']]

print(f"   ‚úÖ Created: {len(customers):,} customers")
print(f"   Columns: {list(customers.columns)}")

# ============================================================
# TABLE 2: PRODUCTS
# ============================================================

print("\n2Ô∏è‚É£ Creating PRODUCTS table...")

products = df_clean[['StockCode', 'Description', 'UnitPrice']].drop_duplicates(subset=['StockCode'])

# Rename columns
products.columns = ['product_id', 'product_name', 'unit_price']

# Add category (based on keywords in description - simple categorization)
def get_category(description):
    desc_lower = str(description).lower()
    
    if any(word in desc_lower for word in ['bag', 'tote', 'purse', 'pouch']):
        return 'Bags & Accessories'
    elif any(word in desc_lower for word in ['light', 'lamp', 'candle', 'lantern']):
        return 'Lighting'
    elif any(word in desc_lower for word in ['mug', 'cup', 'glass', 'bottle', 'jar']):
        return 'Drinkware'
    elif any(word in desc_lower for word in ['plate', 'bowl', 'dish', 'platter']):
        return 'Tableware'
    elif any(word in desc_lower for word in ['decoration', 'ornament', 'wreath', 'garland']):
        return 'Decorations'
    elif any(word in desc_lower for word in ['towel', 'napkin', 'cloth', 'fabric']):
        return 'Textiles'
    elif any(word in desc_lower for word in ['toy', 'game', 'puzzle']):
        return 'Toys & Games'
    elif any(word in desc_lower for word in ['frame', 'picture', 'photo', 'art']):
        return 'Home Decor'
    elif any(word in desc_lower for word in ['card', 'paper', 'notebook', 'stationery']):
        return 'Stationery'
    else:
        return 'Other'

products['category'] = products['product_name'].apply(get_category)

# Add subcategory (simplified - same as product name first 20 chars)
products['subcategory'] = products['product_name'].str[:30]

# Add cost price (assume 60% of unit price as cost)
products['cost_price'] = products['unit_price'] * 0.6

# Reorder columns
products = products[['product_id', 'product_name', 'category', 
                     'subcategory', 'unit_price', 'cost_price']]

print(f"   ‚úÖ Created: {len(products):,} products")
print(f"   Columns: {list(products.columns)}")

# ============================================================
# TABLE 3: ORDERS
# ============================================================

print("\n3Ô∏è‚É£ Creating ORDERS table...")

orders = df_clean[['InvoiceNo', 'CustomerID', 'InvoiceDate']].drop_duplicates(subset=['InvoiceNo'])

# Rename columns
orders.columns = ['order_id', 'customer_id', 'order_date']

# Add ship_date (assume 2-5 days after order)
import random
random.seed(42)
orders['ship_date'] = orders['order_date'] + pd.to_timedelta(
    [random.randint(2, 5) for _ in range(len(orders))], unit='D'
)

# Add ship_mode (random for now)
ship_modes = ['Standard', 'Express', 'Next Day', 'Economy']
orders['ship_mode'] = [random.choice(ship_modes) for _ in range(len(orders))]

# Reorder columns
orders = orders[['order_id', 'customer_id', 'order_date', 'ship_date', 'ship_mode']]

print(f"   ‚úÖ Created: {len(orders):,} orders")
print(f"   Columns: {list(orders.columns)}")

# ============================================================
# TABLE 4: ORDER ITEMS
# ============================================================

print("\n4Ô∏è‚É£ Creating ORDER_ITEMS table...")

order_items = df_clean[['InvoiceNo', 'StockCode', 'Quantity', 'UnitPrice', 'TotalAmount']].copy()

# Rename columns
order_items.columns = ['order_id', 'product_id', 'quantity', 'unit_price', 'revenue']

# Add discount (random 0-20% for some items)
random.seed(42)
order_items['discount'] = [random.choice([0, 0, 0, 0.05, 0.10, 0.15, 0.20]) 
                           for _ in range(len(order_items))]

# Calculate profit (revenue - cost, considering discount)
# Get cost_price from products table
order_items = order_items.merge(
    products[['product_id', 'cost_price']], 
    on='product_id', 
    how='left'
)

order_items['profit'] = (order_items['unit_price'] - order_items['cost_price']) * order_items['quantity'] * (1 - order_items['discount'])

# Drop cost_price column
order_items = order_items.drop('cost_price', axis=1)

# Add order_item_id
order_items.insert(0, 'order_item_id', range(1, len(order_items) + 1))

# Reorder columns
order_items = order_items[['order_item_id', 'order_id', 'product_id', 
                           'quantity', 'discount', 'profit']]

print(f"   ‚úÖ Created: {len(order_items):,} order items")
print(f"   Columns: {list(order_items.columns)}")

print("\n" + "=" * 60)
print("‚úÖ ALL TABLES CREATED SUCCESSFULLY!")
print("=" * 60)

üîÑ TRANSFORMING DATA FOR DATABASE
============================================================

1Ô∏è‚É£ Creating CUSTOMERS table...
   ‚úÖ Created: 4,379 customers
   Columns: ['CustomerID', 'customer_name', 'email', 'region', 'Country', 'signup_date', 'customer_segment']

2Ô∏è‚É£ Creating PRODUCTS table...
   ‚úÖ Created: 3,684 products
   Columns: ['product_id', 'product_name', 'category', 'subcategory', 'unit_price', 'cost_price']

3Ô∏è‚É£ Creating ORDERS table...
   ‚úÖ Created: 22,186 orders
   Columns: ['order_id', 'customer_id', 'order_date', 'ship_date', 'ship_mode']

4Ô∏è‚É£ Creating ORDER_ITEMS table...
   ‚úÖ Created: 401,564 order items
   Columns: ['order_item_id', 'order_id', 'product_id', 'quantity', 'discount', 'profit']

============================================================
‚úÖ ALL TABLES CREATED SUCCESSFULLY!
============================================================

In [18]:
# ============================================================
# STEP 14: VERIFY TABLE STRUCTURES
# ============================================================

print("\nüìã TABLE VERIFICATION")
print("=" * 60)

print("\n1Ô∏è‚É£ CUSTOMERS TABLE:")
print("-" * 60)
print(f"Rows: {len(customers):,}")
print(f"Columns: {list(customers.columns)}")
print("\nSample:")
print(customers.head(3))

print("\n2Ô∏è‚É£ PRODUCTS TABLE:")
print("-" * 60)
print(f"Rows: {len(products):,}")
print(f"Columns: {list(products.columns)}")
print("\nSample:")
print(products.head(3))

print("\n3Ô∏è‚É£ ORDERS TABLE:")
print("-" * 60)
print(f"Rows: {len(orders):,}")
print(f"Columns: {list(orders.columns)}")
print("\nSample:")
print(orders.head(3))

print("\n4Ô∏è‚É£ ORDER_ITEMS TABLE:")
print("-" * 60)
print(f"Rows: {len(order_items):,}")
print(f"Columns: {list(order_items.columns)}")
print("\nSample:")
print(order_items.head(3))

print("\n" + "=" * 60)

üìã TABLE VERIFICATION
============================================================

1Ô∏è‚É£ CUSTOMERS TABLE:
------------------------------------------------------------
Rows: 4,379
Columns: ['CustomerID', 'customer_name', 'email', 'region', 'Country', 'signup_date', 'customer_segment']

Sample:
   CustomerID   customer_name                     email  region  \
0       17850  Customer_17850  customer_17850@email.com  Europe
1       13047  Customer_13047  customer_13047@email.com  Europe
2       12583  Customer_12583  customer_12583@email.com  Europe

          Country         signup_date customer_segment
0  United Kingdom 2010-12-01 08:26:00             Gold
1  United Kingdom 2010-12-01 08:34:00           Silver
2          France 2010-12-01 08:45:00             Gold

2Ô∏è‚É£ PRODUCTS TABLE:
------------------------------------------------------------
Rows: 3,684
Columns: ['product_id', 'product_name', 'category', 'subcategory', 'unit_price', 'cost_price']

Sample:
  product_id                        product_name   category  \
0     85123A  White Hanging Heart T-Light Holder   Lighting
1      71053                 White Metal Lantern   Lighting
2     84406B      Cream Cupid Hearts Coat Hanger  Drinkware

                      subcategory  unit_price  cost_price
0  White Hanging Heart T-Light Ho        2.55       1.530
1             White Metal Lantern        3.39       2.034
2  Cream Cupid Hearts Coat Hanger        2.75       1.650

3Ô∏è‚É£ ORDERS TABLE:
------------------------------------------------------------
Rows: 22,186
Columns: ['order_id', 'customer_id', 'order_date', 'ship_date', 'ship_mode']

Sample:
  order_id  customer_id          order_date           ship_date ship_mode
0   536365        17850 2010-12-01 08:26:00 2010-12-03 08:26:00   Economy
7   536366        17850 2010-12-01 08:28:00 2010-12-03 08:28:00   Economy
9   536367        13047 2010-12-01 08:34:00 2010-12-05 08:34:00   Economy

4Ô∏è‚É£ ORDER_ITEMS TABLE:
------------------------------------------------------------
Rows: 401,564
Columns: ['order_item_id', 'order_id', 'product_id', 'quantity', 'discount', 'profit']

Sample:
   order_item_id order_id product_id  quantity  discount  profit
0              1   536365     85123A         6      0.15   5.202
1              2   536365      71053         6      0.00   8.136
2              3   536365     84406B         8      0.00   8.800

============================================================

In [19]:
# ============================================================
# STEP 15: LOAD DATA INTO SQL DATABASE
# ============================================================

import sqlite3

print("\nüíæ LOADING DATA INTO DATABASE")
print("=" * 60)

# Connect to database
db_path = '../data/ecommerce.db'
conn = sqlite3.connect(db_path)

print(f"‚úÖ Connected to database: {db_path}")

# ============================================================
# LOAD TABLE 1: CUSTOMERS
# ============================================================

print("\n1Ô∏è‚É£ Loading CUSTOMERS table...")

# Rename columns to match database schema
customers_db = customers.copy()
customers_db.columns = ['customer_id', 'customer_name', 'email', 'region', 
                        'country', 'signup_date', 'customer_segment']

# Load to database
customers_db.to_sql('customers', conn, if_exists='replace', index=False)

# Verify
cursor = conn.cursor()
cursor.execute("SELECT COUNT(*) FROM customers")
count = cursor.fetchone()[0]
print(f"   ‚úÖ Loaded {count:,} customers")

# ============================================================
# LOAD TABLE 2: PRODUCTS
# ============================================================

print("\n2Ô∏è‚É£ Loading PRODUCTS table...")

# Load to database
products.to_sql('products', conn, if_exists='replace', index=False)

# Verify
cursor.execute("SELECT COUNT(*) FROM products")
count = cursor.fetchone()[0]
print(f"   ‚úÖ Loaded {count:,} products")

# ============================================================
# LOAD TABLE 3: ORDERS
# ============================================================

print("\n3Ô∏è‚É£ Loading ORDERS table...")

# Load to database
orders.to_sql('orders', conn, if_exists='replace', index=False)

# Verify
cursor.execute("SELECT COUNT(*) FROM orders")
count = cursor.fetchone()[0]
print(f"   ‚úÖ Loaded {count:,} orders")

# ============================================================
# LOAD TABLE 4: ORDER_ITEMS
# ============================================================

print("\n4Ô∏è‚É£ Loading ORDER_ITEMS table...")

# Load to database
order_items.to_sql('order_items', conn, if_exists='replace', index=False)

# Verify
cursor.execute("SELECT COUNT(*) FROM order_items")
count = cursor.fetchone()[0]
print(f"   ‚úÖ Loaded {count:,} order items")

print("\n" + "=" * 60)
print("‚úÖ ALL DATA LOADED INTO DATABASE!")
print("=" * 60)

# Close connection
conn.close()

üíæ LOADING DATA INTO DATABASE
============================================================
‚úÖ Connected to database: ../data/ecommerce.db

1Ô∏è‚É£ Loading CUSTOMERS table...
   ‚úÖ Loaded 4,379 customers

2Ô∏è‚É£ Loading PRODUCTS table...
   ‚úÖ Loaded 3,684 products

3Ô∏è‚É£ Loading ORDERS table...
   ‚úÖ Loaded 22,186 orders

4Ô∏è‚É£ Loading ORDER_ITEMS table...
   ‚úÖ Loaded 401,564 order items

============================================================
‚úÖ ALL DATA LOADED INTO DATABASE!
============================================================

In [20]:
# ============================================================
# STEP 16: VERIFY DATABASE CONTENTS
# ============================================================

print("\nüîç VERIFYING DATABASE CONTENTS")
print("=" * 60)

# Reconnect to database
conn = sqlite3.connect('../data/ecommerce.db')

# Check all tables
print("\nüìä TABLE SUMMARY:")
print("-" * 60)

tables = ['customers', 'products', 'orders', 'order_items']

for table in tables:
    query = f"SELECT COUNT(*) FROM {table}"
    count = pd.read_sql_query(query, conn).iloc[0, 0]
    print(f"{table.upper():15s}: {count:,} rows")

print("\n" + "=" * 60)

# Sample queries to verify data
print("\nüìã SAMPLE DATA FROM EACH TABLE:")
print("=" * 60)

print("\n1Ô∏è‚É£ CUSTOMERS (First 3):")
print("-" * 60)
query = "SELECT * FROM customers LIMIT 3"
print(pd.read_sql_query(query, conn))

print("\n2Ô∏è‚É£ PRODUCTS (First 3):")
print("-" * 60)
query = "SELECT * FROM products LIMIT 3"
print(pd.read_sql_query(query, conn))

print("\n3Ô∏è‚É£ ORDERS (First 3):")
print("-" * 60)
query = "SELECT * FROM orders LIMIT 3"
print(pd.read_sql_query(query, conn))

print("\n4Ô∏è‚É£ ORDER_ITEMS (First 3):")
print("-" * 60)
query = "SELECT * FROM order_items LIMIT 3"
print(pd.read_sql_query(query, conn))

print("\n" + "=" * 60)

# Close connection
conn.close()

üîç VERIFYING DATABASE CONTENTS
============================================================

üìä TABLE SUMMARY:
------------------------------------------------------------
CUSTOMERS      : 4,379 rows
PRODUCTS       : 3,684 rows
ORDERS         : 22,186 rows
ORDER_ITEMS    : 401,564 rows

============================================================

üìã SAMPLE DATA FROM EACH TABLE:
============================================================

1Ô∏è‚É£ CUSTOMERS (First 3):
------------------------------------------------------------
   customer_id   customer_name                     email  region  \
0        17850  Customer_17850  customer_17850@email.com  Europe
1        13047  Customer_13047  customer_13047@email.com  Europe
2        12583  Customer_12583  customer_12583@email.com  Europe

          country          signup_date customer_segment
0  United Kingdom  2010-12-01 08:26:00             Gold
1  United Kingdom  2010-12-01 08:34:00           Silver
2          France  2010-12-01 08:45:00             Gold

2Ô∏è‚É£ PRODUCTS (First 3):
------------------------------------------------------------
  product_id                        product_name   category  \
0     85123A  White Hanging Heart T-Light Holder   Lighting
1      71053                 White Metal Lantern   Lighting
2     84406B      Cream Cupid Hearts Coat Hanger  Drinkware

                      subcategory  unit_price  cost_price
0  White Hanging Heart T-Light Ho        2.55       1.530
1             White Metal Lantern        3.39       2.034
2  Cream Cupid Hearts Coat Hanger        2.75       1.650

3Ô∏è‚É£ ORDERS (First 3):
------------------------------------------------------------
  order_id  customer_id           order_date            ship_date ship_mode
0   536365        17850  2010-12-01 08:26:00  2010-12-03 08:26:00   Economy
1   536366        17850  2010-12-01 08:28:00  2010-12-03 08:28:00   Economy
2   536367        13047  2010-12-01 08:34:00  2010-12-05 08:34:00   Economy

4Ô∏è‚É£ ORDER_ITEMS (First 3):
------------------------------------------------------------
   order_item_id order_id product_id  quantity  discount  profit
0              1   536365     85123A         6      0.15   5.202
1              2   536365      71053         6      0.00   8.136
2              3   536365     84406B         8      0.00   8.800

============================================================

In [21]:
# ============================================================
# STEP 17: TEST JOIN QUERY
# ============================================================

print("\nüîó TESTING TABLE RELATIONSHIPS")
print("=" * 60)

conn = sqlite3.connect('../data/ecommerce.db')

# Complex JOIN query
query = """
SELECT 
    o.order_id,
    c.customer_name,
    c.country,
    o.order_date,
    oi.product_id,
    p.product_name,
    p.category,
    oi.quantity,
    oi.profit
FROM orders o
JOIN customers c ON o.customer_id = c.customer_id
JOIN order_items oi ON o.order_id = oi.order_id
JOIN products p ON oi.product_id = p.product_id
LIMIT 5
"""

result = pd.read_sql_query(query, conn)

print("\nüìä SAMPLE JOIN QUERY RESULT:")
print("(Orders with Customer, Product details)")
print("-" * 60)
print(result)

print("\n‚úÖ Database relationships working correctly!")
print("=" * 60)

conn.close()

üîó TESTING TABLE RELATIONSHIPS
============================================================

üìä SAMPLE JOIN QUERY RESULT:
(Orders with Customer, Product details)
------------------------------------------------------------
  order_id   customer_name         country           order_date product_id  \
0   536365  Customer_17850  United Kingdom  2010-12-01 08:26:00      21730
1   536365  Customer_17850  United Kingdom  2010-12-01 08:26:00      22752
2   536365  Customer_17850  United Kingdom  2010-12-01 08:26:00      71053
3   536365  Customer_17850  United Kingdom  2010-12-01 08:26:00     84029E
4   536365  Customer_17850  United Kingdom  2010-12-01 08:26:00     84029G

                          product_name    category  quantity   profit
0    Glass Star Frosted T-Light Holder    Lighting         6  10.2000
1         Set 7 Babushka Nesting Boxes       Other         2   6.1200
2                  White Metal Lantern    Lighting         6   8.1360
3       Red Woolly Hottie White Heart.  Home Decor         6   8.1360
4  Knitted Union Flag Hot Water Bottle   Drinkware         6   6.9156

‚úÖ Database relationships working correctly!
============================================================

In [22]:
# ============================================================
# STEP 18: COMPLEX SQL QUERIES - PART 1
# ============================================================

import sqlite3
import pandas as pd

print("\nüîç ADVANCED SQL QUERIES")
print("=" * 60)

conn = sqlite3.connect('../data/ecommerce.db')

# ============================================================
# QUERY 1: TOP 10 CUSTOMERS BY REVENUE
# ============================================================

print("\n1Ô∏è‚É£ TOP 10 CUSTOMERS BY REVENUE")
print("-" * 60)

query1 = """
SELECT 
    c.customer_id,
    c.customer_name,
    c.country,
    c.customer_segment,
    COUNT(DISTINCT o.order_id) as total_orders,
    SUM(oi.quantity) as total_items,
    ROUND(SUM(oi.profit), 2) as total_profit
FROM customers c
JOIN orders o ON c.customer_id = o.customer_id
JOIN order_items oi ON o.order_id = oi.order_id
GROUP BY c.customer_id, c.customer_name, c.country, c.customer_segment
ORDER BY total_profit DESC
LIMIT 10
"""

result1 = pd.read_sql_query(query1, conn)
print(result1.to_string(index=False))

# ============================================================
# QUERY 2: MONTHLY REVENUE TREND
# ============================================================

print("\n\n2Ô∏è‚É£ MONTHLY REVENUE TREND")
print("-" * 60)

query2 = """
SELECT 
    strftime('%Y-%m', o.order_date) as month,
    COUNT(DISTINCT o.order_id) as total_orders,
    COUNT(DISTINCT o.customer_id) as unique_customers,
    SUM(oi.quantity) as total_items_sold,
    ROUND(SUM(oi.profit), 2) as total_profit
FROM orders o
JOIN order_items oi ON o.order_id = oi.order_id
GROUP BY month
ORDER BY month
"""

result2 = pd.read_sql_query(query2, conn)
print(result2.to_string(index=False))

print("\n" + "=" * 60)

üîç ADVANCED SQL QUERIES
============================================================

1Ô∏è‚É£ TOP 10 CUSTOMERS BY REVENUE
------------------------------------------------------------
 customer_id  customer_name        country customer_segment  total_orders  total_items  total_profit
       17450 Customer_17450 United Kingdom          Premium            55        69009      81975.10
       14646 Customer_14646    Netherlands          Premium            76       196143      79509.20
       14911 Customer_14911           EIRE          Premium           248        76905      41330.00
       14096 Customer_14096 United Kingdom          Premium            34        16335      36417.63
       12415 Customer_12415      Australia          Premium            26        76946      36248.47
       14156 Customer_14156           EIRE          Premium            66        56908      36062.23
       18102 Customer_18102 United Kingdom          Premium            62        64122      24804.33
       15838 Customer_15838 United Kingdom          Premium            21         9007      23794.47
       17511 Customer_17511 United Kingdom          Premium            46        63012      21867.55
       16422 Customer_16422 United Kingdom          Premium            75        32592      21549.52


2Ô∏è‚É£ MONTHLY REVENUE TREND
------------------------------------------------------------
  month  total_orders  unique_customers  total_items_sold  total_profit
2010-12          1708               948            295162     185799.78
2011-01          1236               783            268706     148451.83
2011-02          1201               798            262227     145834.72
2011-03          1619              1020            343054     208584.76
2011-04          1384               899            277727     137266.27
2011-05          1849              1079            367031     213748.63
2011-06          1707              1051            356239     184727.97
2011-07          1593               993            361347     172327.67
2011-08          1543               980            385048     201279.08
2011-09          2077              1302            536348     307755.25
2011-10          2263              1425            568890     317610.94
2011-11          3085              1710            653976     377270.36
2011-12           921               686            203212      85254.35

============================================================

In [23]:
# ============================================================
# STEP 19: COMPLEX SQL QUERIES - PART 2 (WINDOW FUNCTIONS)
# ============================================================

print("\n3Ô∏è‚É£ TOP 3 PRODUCTS BY CATEGORY (Using Window Functions)")
print("-" * 60)

query3 = """
SELECT 
    category,
    product_name,
    total_quantity,
    total_profit,
    rank
FROM (
    SELECT 
        p.category,
        p.product_name,
        SUM(oi.quantity) as total_quantity,
        ROUND(SUM(oi.profit), 2) as total_profit,
        ROW_NUMBER() OVER (PARTITION BY p.category ORDER BY SUM(oi.profit) DESC) as rank
    FROM products p
    JOIN order_items oi ON p.product_id = oi.product_id
    GROUP BY p.category, p.product_name
)
WHERE rank <= 3
ORDER BY category, rank
"""

result3 = pd.read_sql_query(query3, conn)
print(result3.to_string(index=False))

# ============================================================
# QUERY 4: CUSTOMER PURCHASE FREQUENCY
# ============================================================

print("\n\n4Ô∏è‚É£ CUSTOMER PURCHASE FREQUENCY ANALYSIS")
print("-" * 60)

query4 = """
SELECT 
    c.customer_segment,
    COUNT(DISTINCT c.customer_id) as num_customers,
    ROUND(AVG(order_count), 2) as avg_orders_per_customer,
    ROUND(AVG(total_profit), 2) as avg_profit_per_customer
FROM customers c
JOIN (
    SELECT 
        customer_id,
        COUNT(order_id) as order_count,
        SUM(profit) as total_profit
    FROM orders o
    JOIN order_items oi ON o.order_id = oi.order_id
    GROUP BY customer_id
) customer_stats ON c.customer_id = customer_stats.customer_id
GROUP BY c.customer_segment
ORDER BY avg_profit_per_customer DESC
"""

result4 = pd.read_sql_query(query4, conn)
print(result4.to_string(index=False))

print("\n" + "=" * 60)

3Ô∏è‚É£ TOP 3 PRODUCTS BY CATEGORY (Using Window Functions)
------------------------------------------------------------
          category                        product_name  total_quantity  total_profit  rank
Bags & Accessories             Jumbo Bag Red Retrospot           44963      35724.85     1
Bags & Accessories             Jumbo Bag Pink Polkadot           19692      12467.18     2
Bags & Accessories           Jumbo Bag Doiley Patterns           18908      12075.57     3
       Decorations       Assorted Colour Bird Ornament           35215      19105.27     1
       Decorations  3 Hearts Hanging Decoration Rustic            2820       2732.26     2
       Decorations         Zinc Metal Heart Decoration            5715       2598.07     3
         Drinkware            Jam Making Set With Jars            7894      10518.78     1
         Drinkware     Roses Regency Teacup And Saucer            8684       7787.60     2
         Drinkware          Hot Water Bottle Keep Calm            5265       7714.72     3
        Home Decor                       Party Bunting           15011      23774.32     1
        Home Decor            Black Record Cover Frame           11386      14826.27     2
        Home Decor               Heart Of Wicker Large            9509      13097.30     3
          Lighting  White Hanging Heart T-Light Holder           34185      38046.22     1
          Lighting                       Chilli Lights            9566      22122.95     2
          Lighting Rotating Silver Angels T-Light Hldr           -1475      17664.69     3
             Other            Regency Cakestand 3 Tier           11519      53066.56     1
             Other          Picnic Basket Wicker Small            1410      37872.53     2
             Other                             Postage            3002      33346.58     3
        Stationery      Paper Chain Kit 50'S Christmas           15138      16883.79     1
        Stationery   Paper Chain Kit Vintage Christmas            9072       9980.04     2
        Stationery             Paper Bunting Retrospot            6805       6153.68     3
         Tableware            Regency Sugar Bowl Green            2866       3679.78     1
         Tableware             Regency Tea Plate Roses            5845       3124.73     2
         Tableware             Regency Tea Plate Green            5869       2967.15     3
          Textiles      Clothes Pegs Retrospot Pack 24            8363       5727.60     1
          Textiles  Set/20 Red Retrospot Paper Napkins           12288       4562.58     2
          Textiles      Set 2 Tea Towels I Love London            4352       4505.23     3
      Toys & Games   Vintage Heads And Tails Card Game            7082       2912.56     1
      Toys & Games              Toy Tidy Pink Polkadot            3140       2506.11     2
      Toys & Games            Vintage Donkey Tail Game            1793       2483.88     3


4Ô∏è‚É£ CUSTOMER PURCHASE FREQUENCY ANALYSIS
------------------------------------------------------------

DatabaseError: Execution failed on sql '
SELECT
    c.customer_segment,
    COUNT(DISTINCT c.customer_id) as num_customers,
    ROUND(AVG(order_count), 2) as avg_orders_per_customer,
    ROUND(AVG(total_profit), 2) as avg_profit_per_customer
FROM customers c
JOIN (
    SELECT
        customer_id,
        COUNT(order_id) as order_count,
        SUM(profit) as total_profit
    FROM orders o
    JOIN order_items oi ON o.order_id = oi.order_id
    GROUP BY customer_id
) customer_stats ON c.customer_id = customer_stats.customer_id
GROUP BY c.customer_segment
ORDER BY avg_profit_per_customer DESC
': ambiguous column name: order_id

In [24]:
# ============================================================
# STEP 20: COMPLEX SQL QUERIES - PART 3 (CTEs)
# ============================================================

print("\n5Ô∏è‚É£ COUNTRY-WISE SALES PERFORMANCE (Using CTE)")
print("-" * 60)

query5 = """
WITH country_sales AS (
    SELECT 
        c.country,
        COUNT(DISTINCT o.order_id) as total_orders,
        COUNT(DISTINCT c.customer_id) as total_customers,
        SUM(oi.quantity) as total_quantity,
        ROUND(SUM(oi.profit), 2) as total_profit
    FROM customers c
    JOIN orders o ON c.customer_id = o.customer_id
    JOIN order_items oi ON o.order_id = oi.order_id
    GROUP BY c.country
),
country_ranks AS (
    SELECT 
        *,
        ROUND(total_profit * 100.0 / SUM(total_profit) OVER (), 2) as profit_percentage
    FROM country_sales
)
SELECT 
    country,
    total_orders,
    total_customers,
    total_quantity,
    total_profit,
    profit_percentage
FROM country_ranks
ORDER BY total_profit DESC
LIMIT 10
"""

result5 = pd.read_sql_query(query5, conn)
print(result5.to_string(index=False))

# ============================================================
# QUERY 6: PRODUCT CATEGORY PERFORMANCE
# ============================================================

print("\n\n6Ô∏è‚É£ PRODUCT CATEGORY PERFORMANCE")
print("-" * 60)

query6 = """
SELECT 
    p.category,
    COUNT(DISTINCT p.product_id) as num_products,
    SUM(oi.quantity) as total_units_sold,
    ROUND(AVG(p.unit_price), 2) as avg_unit_price,
    ROUND(SUM(oi.profit), 2) as total_profit,
    ROUND(AVG(oi.profit), 2) as avg_profit_per_item
FROM products p
JOIN order_items oi ON p.product_id = oi.product_id
GROUP BY p.category
ORDER BY total_profit DESC
"""

result6 = pd.read_sql_query(query6, conn)
print(result6.to_string(index=False))

print("\n" + "=" * 60)

5Ô∏è‚É£ COUNTRY-WISE SALES PERFORMANCE (Using CTE)
------------------------------------------------------------
       country  total_orders  total_customers  total_quantity  total_profit  profit_percentage
United Kingdom         19854             3949         3982138    2175509.23              80.74
   Netherlands           100                9          199552      81350.30               3.02
          EIRE           319                3          135937      78938.53               2.93
       Germany           603               95          117339      78408.98               2.91
        France           458               87          109805      71545.78               2.66
     Australia            72                9           83985      41474.96               1.54
         Spain           118               31           29601      20954.75               0.78
   Switzerland            76               21           30005      20678.87               0.77
       Belgium           137               25           26427      16686.78               0.62
        Sweden            46                8           35632      13849.25               0.51


6Ô∏è‚É£ PRODUCT CATEGORY PERFORMANCE
------------------------------------------------------------
          category  num_products  total_units_sold  avg_unit_price  total_profit  avg_profit_per_item
             Other          2019           2510240            3.54    1407301.71                 6.55
Bags & Accessories           200            560500            1.88     304498.28                 7.67
        Home Decor           365            418616            3.26     272600.87                 7.42
          Lighting           338            407940            2.57     254770.74                 8.96
         Drinkware           291            322004            2.78     203510.82                 6.55
        Stationery           168            280778            1.48      86996.11                 4.28
       Decorations           142            186954            1.57      66640.45                 5.02
         Tableware            86             91615            2.30      39147.34                 4.95
          Textiles            54             79073            2.02      36178.00                 5.45
      Toys & Games            21             21247            2.36      14267.26                 5.64

============================================================

In [25]:
# ============================================================
# STEP 21: COMPLEX SQL QUERIES - PART 4 (COHORT ANALYSIS)
# ============================================================

print("\n7Ô∏è‚É£ COHORT ANALYSIS - CUSTOMER RETENTION")
print("-" * 60)

query7 = """
WITH first_purchase AS (
    SELECT 
        customer_id,
        MIN(order_date) as first_order_date,
        strftime('%Y-%m', MIN(order_date)) as cohort_month
    FROM orders
    GROUP BY customer_id
),
customer_orders AS (
    SELECT 
        o.customer_id,
        fp.cohort_month,
        strftime('%Y-%m', o.order_date) as order_month,
        CAST((julianday(o.order_date) - julianday(fp.first_order_date)) / 30 AS INTEGER) as months_since_first
    FROM orders o
    JOIN first_purchase fp ON o.customer_id = fp.customer_id
)
SELECT 
    cohort_month,
    COUNT(DISTINCT CASE WHEN months_since_first = 0 THEN customer_id END) as month_0,
    COUNT(DISTINCT CASE WHEN months_since_first = 1 THEN customer_id END) as month_1,
    COUNT(DISTINCT CASE WHEN months_since_first = 2 THEN customer_id END) as month_2,
    COUNT(DISTINCT CASE WHEN months_since_first = 3 THEN customer_id END) as month_3
FROM customer_orders
GROUP BY cohort_month
ORDER BY cohort_month
LIMIT 6
"""

result7 = pd.read_sql_query(query7, conn)
print(result7.to_string(index=False))

# ============================================================
# QUERY 8: CUSTOMER LIFETIME VALUE
# ============================================================

print("\n\n8Ô∏è‚É£ CUSTOMER LIFETIME VALUE (TOP 20)")
print("-" * 60)

query8 = """
SELECT 
    c.customer_id,
    c.customer_name,
    c.country,
    c.customer_segment,
    COUNT(DISTINCT o.order_id) as total_orders,
    ROUND(julianday(MAX(o.order_date)) - julianday(MIN(o.order_date))) as customer_lifespan_days,
    ROUND(SUM(oi.profit), 2) as lifetime_value,
    ROUND(SUM(oi.profit) / COUNT(DISTINCT o.order_id), 2) as avg_order_value
FROM customers c
JOIN orders o ON c.customer_id = o.customer_id
JOIN order_items oi ON o.order_id = oi.order_id
GROUP BY c.customer_id, c.customer_name, c.country, c.customer_segment
HAVING total_orders >= 3
ORDER BY lifetime_value DESC
LIMIT 20
"""

result8 = pd.read_sql_query(query8, conn)
print(result8.to_string(index=False))

print("\n" + "=" * 60)

7Ô∏è‚É£ COHORT ANALYSIS - CUSTOMER RETENTION
------------------------------------------------------------
cohort_month  month_0  month_1  month_2  month_3
     2010-12      948      352      334      370
     2011-01      421      107      118      127
     2011-02      380       84       92      110
     2011-03      440       81      106      100
     2011-04      299       80       54       66
     2011-05      279       56       42       56


8Ô∏è‚É£ CUSTOMER LIFETIME VALUE (TOP 20)
------------------------------------------------------------
 customer_id  customer_name        country customer_segment  total_orders  customer_lifespan_days  lifetime_value  avg_order_value
       17450 Customer_17450 United Kingdom          Premium            55                   359.0        81975.10          1490.46
       14646 Customer_14646    Netherlands          Premium            76                   353.0        79509.20          1046.17
       14911 Customer_14911           EIRE          Premium           248                   372.0        41330.00           166.65
       14096 Customer_14096 United Kingdom          Premium            34                    97.0        36417.63          1071.11
       12415 Customer_12415      Australia          Premium            26                   313.0        36248.47          1394.17
       14156 Customer_14156           EIRE          Premium            66                   363.0        36062.23           546.40
       18102 Customer_18102 United Kingdom          Premium            62                   367.0        24804.33           400.07
       15838 Customer_15838 United Kingdom          Premium            21                   361.0        23794.47          1133.07
       17511 Customer_17511 United Kingdom          Premium            46                   371.0        21867.55           475.38
       16422 Customer_16422 United Kingdom          Premium            75                   352.0        21549.52           287.33
       13089 Customer_13089 United Kingdom          Premium           118                   367.0        21392.57           181.29
       16684 Customer_16684 United Kingdom          Premium            31                   354.0        19316.93           623.13
       15311 Customer_15311 United Kingdom          Premium           118                   373.0        18524.46           156.99
       15061 Customer_15061 United Kingdom          Premium            55                   369.0        17725.69           322.29
       17949 Customer_17949 United Kingdom          Premium            52                   370.0        16607.24           319.37
       15769 Customer_15769 United Kingdom          Premium            29                   364.0        16281.79           561.44
       14088 Customer_14088 United Kingdom          Premium            14                   312.0        15130.55          1080.75
       17841 Customer_17841 United Kingdom          Premium           169                   372.0        14733.41            87.18
       16029 Customer_16029 United Kingdom          Premium            76                   335.0        13521.26           177.91
       16013 Customer_16013 United Kingdom          Premium            54                   368.0        12629.16           233.87

============================================================

In [26]:
# ============================================================
# STEP 22: SAVE SQL QUERIES TO FILES
# ============================================================

print("\nüíæ SAVING SQL QUERIES TO FILES")
print("=" * 60)

queries = {
    'top_customers.sql': query1,
    'monthly_revenue.sql': query2,
    'top_products_by_category.sql': query3,
    'customer_frequency.sql': query4,
    'country_performance.sql': query5,
    'category_performance.sql': query6,
    'cohort_analysis.sql': query7,
    'customer_lifetime_value.sql': query8
}

import os
os.makedirs('../sql/queries', exist_ok=True)

for filename, query in queries.items():
    filepath = f'../sql/queries/{filename}'
    with open(filepath, 'w') as f:
        f.write(query)
    print(f"‚úÖ Saved: {filename}")

print("\n" + "=" * 60)
print("‚úÖ ALL QUERIES SAVED!")
print("=" * 60)

# Close connection
conn.close()

print("\nüéâ SQL ANALYSIS COMPLETE!")

üíæ SAVING SQL QUERIES TO FILES
============================================================
‚úÖ Saved: top_customers.sql
‚úÖ Saved: monthly_revenue.sql
‚úÖ Saved: top_products_by_category.sql
‚úÖ Saved: customer_frequency.sql
‚úÖ Saved: country_performance.sql
‚úÖ Saved: category_performance.sql
‚úÖ Saved: cohort_analysis.sql
‚úÖ Saved: customer_lifetime_value.sql

============================================================
‚úÖ ALL QUERIES SAVED!
============================================================

üéâ SQL ANALYSIS COMPLETE!